/****************** | media_coverage_sec_round_Sec |  *******************/

.media_coverage_sec_round {
  padding: 0 0 240px 0;
  position: relative;
  overflow: hidden;
}
.container_small {
  max-width: 1318px;
  margin: 0 auto;
  padding: 0 50px;
}

.media_coverage_list_sec {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(146px, 146px));
  justify-content: space-between;
  grid-auto-rows: 146px;
}

.media_coverage_list_sec .media_coverage_item_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 100%;
  border: 3px solid #ffffff;
  padding: 10px 0 0 0;
  transition: all ease-in-out 0.3s 0s;
  cursor: pointer;
}
.media_coverage_list_sec .media_coverage_item_box:hover {
  background: #e42e35;
  border-color: #e42e35;
  transform: scale(1.3);
}
.media_coverage_list_sec .media_coverage_item_box h3 {
  font-size: 34px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.media_coverage_list_sec .media_coverage_item_box p {
  max-width: 100px;
  text-align: center;
  font-size: 14.05px;
  line-height: 1.3;
  margin: 13px 0 0 0;
}

.media_sec_right_icon {
  position: absolute;
  right: -30px;
  top: 0;
  animation: jumpLeftRight 10s infinite;
  animation-direction: alternate;
  transform-origin: bottom;
}

@keyframes jumpLeftRight {
  0% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(-0deg);
  }
}

@keyframes rotedAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.media_sec_left_icon {
  position: absolute;
  left: -50px;
  bottom: 60px;
  animation: rotedAnimation 200s infinite;
}
/****************** | media_coverage_sec_round_Sec |  *******************/

@media screen and (max-width: 1600px) {
  .media_sec_left_icon {
    left: -10px;
  }
}

@media screen and (max-width: 1700px) {
  .media_sec_left_icon {
    max-width: 100px;
  }
}

@media screen and (max-width: 1600px) {
  .media_sec_right_icon {
    top: -40px;
    max-width: 100px;
  }
}
