/******************** Banner CSS ********************/
.hero_banner_inr {
  position: relative;
}

.hero_banner_inr .hero_banner_video {
  -webkit-mask-image: url(/public/image/hero_banner_bg_shape.png);
  mask-image: url(/public/image/hero_banner_bg_shape.png);
  -webkit-mask-size: initial;
  mask-size: initial;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-clip: border-box;
  mask-clip: border-box;
  -webkit-mask-position: center bottom;
  opacity: 0;
}
.hero_banner {
  position: relative;
}
.hero_banner::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/public/image/hero_banner_over_lay.png);
  background-size: cover;
}

.hero_banner_text {
  position: absolute;
  top: 13.7%;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}



.hero_banner_text_banner {
  position: relative;
  display: grid;
  justify-content: center;
  grid-gap: 25px;
  grid-template-columns: 23.19% auto 23.19%;
  align-items: center;
}

.hero_banner_event_co_host_logo {
  grid-column-start: 3;
  grid-row-start: span 1;
}

.hero_banner_event_presents_logo {
  grid-column-start: 2;
}

.hero_banner_event_sponsor_logo {
  grid-row-start: span 1;
  grid-column-start: 1;
}

.hero_banner_event_logo {
  grid-row-start: auto;
  grid-column-start: 2;
}

.hero_banner_event_poweredby_logo {
  grid-row-start: auto;
  grid-column-start: 2;
}

.hero_banner_text_left h1 {
  font-size: 80px;
  line-height: 71px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}

.hero_banner_text_inr {
  margin-top:60px;
}

.hero_banner_text_left {
  position: relative;
  padding-right: 30px;
}

.hero_banner_text_left:before {
  position: absolute;
  content: "";
  right: -30px;
  top: 0;
  bottom: 0;
  background: #ffffff;
  width: 4px;
}

.hero_banner_text_right {
  padding: 0 21px;
  text-align: center;
  position: relative;
  z-index: 9;
}
.hero_banner_text_left h1 sup {
  vertical-align: -10px;
}

.hero_banner_text_left h1 sup:last-of-type {
  display: none;
}

.add_calender {
  margin: 7px 0 0 0;
  display: flex;
  justify-content: center;
}
.add_calender .dropdown-item span {
  margin-right: 10px;
  font-size: 18px;
}

.hero_banner_text_right .btn_org_bdr {
  margin: 21px 0;
}
.hero_banner_text_right .btn_org_bdr a:hover{
  border-color: #ffffff;
  background: no-repeat;
}
.hero_banner_text_right .a_btn_fill.btn_orange a:hover {
  background: #ffffff;
  border-color: #ffffff !important;
  color: #0d1329;
}
.hero_banner_text_right small {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  color: #f9f9f9;
  margin: 6px 0;
}

.hero_banner_text_right .a_btn a {
  width: 100%;
}
.testimonials::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 101%;
  height: 300px;
  background: url(/public/image/hero-bg-shap1.png)no-repeat top;
  z-index: 1;
  background-size: 100% 100%;
}
/******************** Banner CSS ********************/

/* /************************** hero_banner ************************** / */



@media screen and (max-width: 1920px){
  .hero_banner {
      padding-bottom: 130px;
  }
  }
  @media screen and (max-width: 1800px){
  
  }
  @media screen and (max-width: 1700px){
      /* .hero_banner {
          padding-bottom: 100px;
      } */
  
  }
  @media screen and (max-width: 1600px){
  
      .hero_banner_text_inr .col-md-8 {flex: 0 0 auto;width: 71%;}
      .hero_banner_text_inr .me-3 {margin-right: 1rem!important;}
      .hero_banner_text_left h1 {font-size: 60px;line-height: 67px;}
      .hero_banner_text_inr .col-md-2 {flex: 0 0 auto;width: 20.666667%;}
      .hero_banner_text_inr .offset-md-2 {margin-left: 9.666667%;}
      .hero_banner {
        padding-bottom: 180px;
    }
      
  }
  @media screen and (max-width: 1440px){
      .hero_banner_text_left h1 {font-size: 56px;line-height: 64px;}
      .hero_banner_text_inr .col-md-8 {flex: 0 0 auto;width: 73%;}
      .hero_banner_text_inr {
          margin-top: 40px;
      }
      .testimonials::after {
          height: 210px;
          bottom: 102%;
      }
      .hero_banner_text_inr .col-md-2 {
        flex: 0 0 auto;
        width: 23.666667%;
      }
  }
  @media screen and (max-width: 1300px){
  
      .hero_banner_text_left h1 {font-size: 52px;line-height: 62px;}
      .hero_banner_text_inr .col-md-8 {width: 75%;}
      .hero_banner_text_inr {margin-top: 50px;}
      
      .hero_banner {
        padding-bottom: 220px;
    }
  }
  @media screen and (max-width: 1200px){
      
      .hero_banner_text_inr .col-md-8 {width: 83%;}
      .hero_banner_text_left h1 {font-size: 49px;line-height: 59px;}
      .hero_banner_text_inr .col-md-8 {width: 90%;}
      .hero_banner_text_left h1 {font-size: 44px;line-height: 56px;}
      .hero_banner { padding-bottom: 31%;}
      .testimonials::after { height: 15%; bottom: 108%;}
      .hero_banner_text_inr .col-md-2 {
        flex: 0 0 auto;
        width: 29.666667%;
      }
  }
  @media screen and (max-width: 1024px){
  
      .hero_banner_text_inr .offset-md-2 {width: 80%;margin-left: 0;}
      .hero_banner_text_left h1 {font-size: 44px;line-height: 56px;padding-bottom: 20px;}
      .hero_banner_text_left:before {position: absolute;content: "";right: 0; top: unset; bottom: 0px;background: #ffffff;width: 100%;height: 4px;}
      .hero_banner_text_inr {justify-content: center;flex-wrap: wrap !important;margin-top: 50px;}
      .hero_banner_text_inr .col-md-2 {flex: 0 0 auto;width: 60%;margin: 0 !important;}
      .hero_banner_text_right {padding: 20px 0;}  
      section.hero_banner {height: 126vh;margin-bottom: 50px;}
      
  }
  @media screen and (max-width: 900px){
  
      .hero_banner_text_inr .col-md-8 {width: 100%;}
      .hero_banner_text_left h1 {font-size: 40px;line-height: 52px;padding-bottom: 20px;}
      .hero_banner_text_inr .col-md-2 {width: 70%;}
  
  .hero_banner_video {
      display: none;
  }
      .hero_banner_text {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
  }
  section.hero_banner {
      height: auto !important;
      margin-bottom: 50px;
      padding: 80px 0 30px 0 !important;
  }
  .testimonials::after { bottom: 111%;}
  }
  @media screen and (max-width: 767px){
      .hero_banner_event_presents_logo {grid-column-start: 2;}
      .hero_banner_event_sponsor_logo {grid-row-start: 3;}
      .hero_banner_text_left h1 {font-size: 37px;line-height: 49px;padding-bottom: 17px;}
      .hero_banner_text_right {padding: 17px 0;}
      section.hero_banner {margin-bottom: 0;}
      .testimonials::after {
          bottom: 104%;
      }
      .hero_banner_event_presents_logo {grid-column-start: 1;}
      .hero_banner_event_co_host_logo { grid-row-start: 1; grid-column-start: 2;}
      .hero_banner_event_logo { grid-row-start: 2; grid-column: 2 span / 3;}
      .hero_banner_text_inr .col-md-8 {
        align-items: center;
        grid-template-columns: auto;
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero_banner_event_sponsor_logo, .hero_banner_event_presents_logo, .hero_banner_event_poweredby_logo, .hero_banner_event_co_host_logo {
        width: calc(50% - 13px);
    }
    .hero_banner_event_presents_logo {
        order: 1;
    }
    .hero_banner_event_sponsor_logo  {
        order: 4;
    }
    .hero_banner_event_logo {
        order: 3;
    }
    .hero_banner_event_co_host_logo {
        order: 2;
    }
    .hero_banner_event_poweredby_logo  {
        order: 5;
    }

  
  }
  
  @media screen and (max-width: 600px){
  
      .hero_banner_text_left h1 {font-size: 32px;line-height: 44px;padding-bottom: 14px;}
      .hero_banner_text_right {padding: 14px 0;}    
      .hero_banner_text_inr .col-md-2 {flex: 0 0 auto;width: 90%;}
      .hero_banner_text_inr .offset-md-2 {width: 100%;}
      
      .testimonials::after {
          bottom: 105%;
      }
  
  
  }
  @media screen and (max-width: 479px){
  
      .hero_banner_event_presents_logo {grid-column-start: 1;}
      .hero_banner_event_sponsor_logo {grid-row-start: 2;}
      .hero_banner_event_logo {grid-row-start: 3;}
      .hero_banner_event_co_host_logo {grid-row-start: 4;}
      .hero_banner_event_poweredby_logo {grid-row-start: 5;grid-column-start: 1;}
      .hero_banner_text_left h1 {font-size: 27px;line-height: 37px;padding-bottom: 12px;} 
      .hero_banner_text_right {padding: 12px 0;}    
      .hero_banner_text_right .btn_org_bdr {margin: 15px 0;}
      .hero_banner_text_inr .col-md-2 {width: 100%;}
      .hero_banner_text_inr {justify-content: center;flex-wrap: wrap !important;text-align: center;}
      .testimonials::after {
          bottom: 107%;
      }
  
  
  .hero_banner_text_banner {
      max-width: 230px;
      margin: 0 auto;
  }
  
      section.hero_banner {
          padding-bottom: 50px !important;
      }
  
  
.hero_banner_text_inr .col-md-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_banner_event_sponsor_logo, .hero_banner_event_presents_logo, .hero_banner_event_poweredby_logo, .hero_banner_event_co_host_logo, .hero_banner_event_logo {
  width: 100%;
  max-width: 200px;
}

  
  }
  @media screen and (max-width: 374px){
  
      .hero_banner_text_left h1 {font-size: 24px;line-height: 29px;padding-bottom: 10px;}
      .hero_banner_text_right {padding: 10px 0;}    
      section.hero_banner {margin-bottom: 50px;}
      .testimonials::after { bottom: 110%;}
  
      .hero_banner_text_banner { max-width: 200px; margin: 0 auto;}
      
      
  }
  