/******************* | scroll-section | *******************/
.scroll-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #000;
  position: relative;
}

.letter {
  display: inline-block;
  margin: 0 1px;
  min-width: 30px; /* this is for spaces */
}

.more_sec svg {
  -webkit-animation: downarrow 1s infinite alternate ease-in-out;
  animation: downarrow 1s infinite alternate ease-in-out;
}
@keyframes downarrow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes downarrowRevers {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}

.bottom_line {
  -webkit-animation: downarrowRevers 1s infinite alternate ease-in-out;
  animation: downarrowRevers 1s infinite alternate ease-in-out;
}
.more_sec {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 30px;
}
.word {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-shadow: -1px -1px 0 #e42e35, 1px -1px 0 #e42e35, -1px 1px 0 #e42e35,
    1px 1px 0 #e42e35;
  font-size: 60px;
}
/******************* | scroll-section | *******************/
