/******************** Header CSS ********************/
header.header_main {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  padding: 15px 0;
  transition: all ease 0.3s 0s;
}
.header_main.fixed {
    background: #0d1329;
    box-shadow: 0 0 70px rgb(0 0 0 / 50%);
}
.header_inr {
  padding: 22px 0;
}

.header_left h6 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}

.header_left h6 span {
  display: block;
  background: #e57139;
  border-radius: 5px;
  padding: 0 8px;
  margin: 0 0 5px 0;
}
.header_left h6 span strong {
  font-size: 30px;
}

.header_left h6 span sup {
  font-size: 15px;
  font-weight: 600;
  vertical-align: 5px;
  margin: 0 0 0 2px;
}

.header_right ul li a {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  transition: all 0.3s linear 0s;
}

.header_right ul li {
  list-style: none;
  margin: 0 12px 0 12px;
}

.header_right ul li a:before {
  position: absolute;
  content: "";
  height: 3px;
  background: #ffffff;
  left: 0;
  width: 100%;
  transform: translateX(-30%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear 0s;
  bottom: -11px;
}
.header_right ul li:hover a{
  color:#ffffff;
}
.header_right ul li a.nav-link.active:before {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: all 0.5s linear 0s;
}
.header_right .a_btn:nth-child(2) {
  margin: 0 7px;
}
.header_right  .dropdown-menu[data-bs-popper] {
    top: 40px;
    left: 0;
    margin-top: 0.125rem;
}
.header_right ul li a.dropdown-item {
    font-size: 15px;
    padding: 10px 20px;
}

.header_right ul li .dropdown-menu {
  padding: 10px 0;
  background: #5c56c8;
}
.header_right ul li .dropdown-menu  li {
  margin: 0;
}
/******************** Header CSS ********************/


/* /************************** header_main ************************** / */


@media screen and (max-width: 1300px){

  .header_right ul li {margin: 0 9px 0 9px;}
  .header_left h6 span sup  {
      vertical-align: 6px;
  }
}
@media screen and (max-width: 1200px){
  .header_left h6 {font-size: 20px;}

}
@media screen and (max-width: 1024px){
  .show ul li a {font-size: 22px;}
  .show ul {display: flex !important;}
  .show {padding-top: 50px;display: flex;flex-wrap: wrap;justify-content: center;}
  .show .btn_white_bdr, .show .btn_orange {padding-top: 20px;}
  .show ul {width: 100%;display: flex !important;}
  .navbar-dark .navbar-toggler {border: none !important;}
  .header_right ul li {margin: 15px 0px;}
  header.header_main {overflow: hidden;}

}
@media screen and (max-width: 900px){

}
@media screen and (max-width: 767px){

}

@media screen and (max-width: 600px){

}
@media screen and (max-width: 479px){


  .header_right ul li {
  margin: 10px 0 !important;
  text-align: center;}
.show ul li a {
  font-size: 16px;
}

.show .btn_white_bdr, .show .btn_orange {
  padding-top: 0;
}

}
@media screen and (max-width: 374px){
.header_right .a_btn:nth-child(2) { margin-bottom: 10px;}
.header_left h6 { font-size: 16px;}
.header_right ul li a.dropdown-item { font-size: 14px; padding: 6px 20px;}
.navbar-expand-lg .navbar-nav { margin: 15px 0;}
}

/* /************************** header_main ************************** / */

