/******************** About Summit CSS ********************/
.about_summit {
  padding: 0 0 143px 0;
}

/* .about_summit_right {
  width: 41.2799%;
}

.about_summit_left {
  width: 55.35%;
} */
.about_summit_single-cube {
  position: absolute;
  left: 0;
  top:-14%;
}
.about_summit_single-cube span {
  animation: rotedAnimation  100s infinite;
  display: inline-block;
}
.about_summit_bottom-cube {
  position: absolute;
  right: 0;
  bottom: -6%;
  z-index: -1;
}
.about_summit_bottom-cube span {
  display: inline-block; 
}

.about_summit_left h2 {
  text-align: left;
  padding-right: 40px;
}

.about_summit_left strong {
  display: inline-block;
  padding: 36px 0 40px;
  font-size: 30px;
}

.about_summit_left > p {
  color: #f9f9f9;
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 30px;
}

.about_summit_left_btn_box_otr p {
  font-size: 17px;
  line-height: 24px;
  padding: 13px 0 0 0;
}
/******************** About Summit CSS ********************/